<div class="top-bg-box clearfix">
      <div class="nav-top-box container">
            <header>
                  <div class="left-box">
                        <ul>
                              <li><a href="#">首页</a></li>
                              <li><a href="#">消费者业务网站</a></li>
                              <li><a href="#">优购码</a></li>
                              <li><a href="#">企业商用</a></li>
                              <li><a href="#">Select Region</a></li>
                              <li><a href="#">更多精彩<span class="iconfont icon-xiala-"></span></a></li>

                        </ul>
                  </div>
                  <div class="right-box">
                        <ul>
                              <li><a href="#">请登录</a></li>
                              <li><a href="#">注册</a></li>
                              <li><a href="#">我的订单</a></li>
                              <li><a href="#">客服<span class="iconfont icon-xiala-"></span></a></li>
                              <li><a href="#">网站导航<span class="iconfont icon-xiala-"></span></a></li>
                              <li><a href="#">手机版<span class="iconfont icon-xiala-"></span></a></li>
                              <li><a href="#" routerLink="/cart"><span class="iconfont icon-gouwuche"></span>购物车({{count}})</a>
                              </li>
                        </ul>
                  </div>
            </header>
      </div>
</div>